.app {
  height: 50vh;
  width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.image-credit {
  font-size: 0.5em;
  padding: 20px;
  text-align: right;
}