.app {
  height: 50vh;
  max-width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.image-credit {
  font-size: 0.5em;
  padding: 20px;
  text-align: right;
}

.slider {
  margin: auto;
  width: 300px;
}

.footer {
  margin-top: 10px;
  padding: 10px;
  text-align: right;
  font-size: 12px;
}

.footer a, a:visited {
  color: goldenrod;
  text-decoration: none;
}

.footer a:hover, a:visited:hover {
  color: green;
}